---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>AURA Protocol</title>
</head>
<body class="bg-white text-black font-sans">
<Navbar />
<slot />
</body>
</html>
